<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="template :: scripts_header"/>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>

<th:block th:include="template :: navigator"/>
<h2>User List:</h2>
<div class="container">
    <div class="row">
        <div class="col-md-3">Id</div>
        <div class="col-md-3">Username</div>
        <div class="col-md-6">Password</div>
    </div>
    <div class="row" th:each="user : ${userList}">
        <div class="col-md3" th:text="${user.getId()}"></div>
        <div class="col-md3" th:text="${user.getUsername()}"></div>
        <div class="col-md6" th:text="${user.getPassword()}"></div>
    </div>
</div>
<th:block th:include="template :: scripts_footer"/>
</body>
</html>