<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/security/tags">

<th:block th:fragment="scripts_header">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.1.3/css/bootstrap.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</th:block>

<th:block th:fragment="scripts_footer">
    <script th:href="@{/webjars/jquery/3.3.1-1/jquery.min.js}"></script>
    <script th:href="@{/webjars/popper.js/1.14.4/popper.min.js}"></script>
    <script th:href="@{/webjars/bootstrap/4.1.3/js/bootstrap.js}"></script>
</th:block>

<th:block th:fragment="navigator">
    <nav class="site-header sticky-top py-1">
        <div class="container d-flex flex-column flex-md-row">
            <div class="col-md-12 row">
                <a class="col-md-2 py-2 d-none d-md-inline-block" th:href="@{/}">Home</a>
                <a class="col-md-2 py-2 d-none d-md-inline-block" th:href="@{/checklist/list}">Checklists</a>
                <a sec:authorize="isAuthenticated() && hasRole('ADMIN')" class="col-md-2 py-2 d-none d-md-inline-block"
                   th:href="@{/admin/users}">Admin Panel</a>
                <a sec:authorize="!isAuthenticated()" class="offset-md-6 col-md-1 py-2 d-none d-md-inline-block"
                   th:href="@{/login}">Login</a>
                <a sec:authorize="!isAuthenticated()" class="col-md-1 py-2 d-none d-md-inline-block"
                   th:href="@{/register}">Register</a>
                <a sec:authorize="isAuthenticated()" class="offset-md-7 col-md-1 py-2 d-none d-md-inline-block"
                   th:href="@{/logout}">Logout</a>
            </div>
        </div>
    </nav>
</th:block>

<th:block th:fragment="message">
    <div class="row">
        <div class="col-md-12">
            <h3 th:text="${message}"></h3>
        </div>
    </div>
</th:block>

</html>